@tailwind base;
@tailwind components;
@tailwind utilities;

/* html { */
/*   overflow: hidden; */
/*   height: 100vh; */
/* } */
/**/
/* body { */
/*   height: 100vh; */
/*   overflow: hidden; */
/* } */
/**/
/* .custom-height { */
/*   height: 76vh; */
/* } */

.dark body {
  background-color: #171212;
}

body {
  background-color: #e4e4e7;
}
.dark .logo {
  content: url('../public/dark-logo.svg');
}

.logo {
  content: url('../public/light-logo.svg');
}
